*{

}

h2{
    display: inline-block;
    color:black;
}
.logged_user{
    text-align: right;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 200px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
