<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<fieldset>   
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            {% for message in messages%}
                <p>{{ message }}</p> 
            {% endfor %}
        {% endif %}
    {% endwith %}            
    <legend>Register</legend>
    <form action="/register" method="POST">
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Register Email: <input type="text" name="email">
        User Name: <input type="text" name="username">
        Password: <input type="text" name="password">
        Confirm Password: <input type="text" name="confirm_password">
        <input type="submit" name="SUBMIT">
    </form>
</fieldset>
<fieldset>
    <legend>
    <form action="">
         User Name: <input type="text" name="username"> 
         Password: <input type="text" name="password"> 
         Confirm Password: <input type="text" name="confirm_password">
        <input type="submit" name="SUBMIT">
    </form>    
    </legend>
</fieldset>
</body>
</html>