<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Document</title>
</head>
     {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    
<body>
    <h2>form here for new user to be added</h2>
    <form action="/users/create" method="POST">
        {%csrf_token%}
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Email: <input type="text" name="email">
        <input type="submit" name="submit">
    </form>
    <form action="/users">
        {%csrf_token%}
        <p>Return to Registered Users:</p>
        <input type="submit" name="submit">
    </form>

    
</body>
</html>