<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Valid Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body> 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <p class='flash'>{{message}}</p>
            {% endfor %}    
        {% endif %} 
    {% endwith %}
    <h2>Enter Valid Email</h2> 
    <form action="/email_check" method='POST'>
        <label for="email">Email Address: <input type='text' name='email' id='email'></label>
        <input type='submit' value='Submit'>
    </form>
    
</body>
</html>