<!doctype html>
<html>

<head>
    <title>Survey Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
</head>

<body>
    <table border=1>
        {% for key, value in result.iteritems() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
    <a class='btn btn-primary' href="/logout">Click here to log out</a>
</body>

</html>