<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register New User</title>
</head>

<body>
    <form action="/users" method="POST">
        {%csrf_token%}
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="text" name="email">
        <input type="text" name="description">
        <input type="text" name="password">
        <input type="text" name="dob">
        <input type="submit" name="submit">
    </form>
    <form action="/users">
        {%csrf_token%}
        <p>Return to Users List:</p>
        <input type="submit" name="submit">
    </form>

</body>

</html>